*{
    margin: 0;
    font-family:"poppins",sans-serif; 
    background-color:var(--primary-color);
    width: auto;
    overflow-x: hidden;
}
#preload{
    background: #ffffff url(preload.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

}
:root{
    --primary-color:black;
    --secondary-color:white;
    --third-color:cyan;
}
.dark-theme{
    --primary-color:#ffffff;
    --secondary-color:black;
    --third-color:rgb(107, 45, 207);
}
html{
    scroll-behavior: smooth;
}
.head{
    height: 100vh;
    width: auto;
    padding: 0 8%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slogo{
    position: absolute;
   width:50px;
   height: 50px;
   border-radius:500px; 
   size: 20px;
   top:76px;
   left:145px;
}
.logo{
    position: absolute;
    width: 231px;
    height: 67px;
    left: 200px;
    top: 76px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    text-overflow: clip;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}
.nav-links{
    position: absolute;
    width: 800px;
    height: 25px;
    left: 940px;
    top: 91px;

}
.nav-links li{
    display: inline;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color:var(--secondary-color);
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content:'';

    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;

}
.immg{
    position: absolute;
    width: 404px;
    height: 421px;
    left: 982px;
    top: 200px;
    background: url(image.png);
    border-radius: 144px;
}
.btn{
    color:rgb(204, 22, 22);
    border-radius: 3px;
    cursor: pointer;
}
#light{
    width: 30px;
    cursor: pointer;
    position: absolute;
    width: auto;
    height: 25px;
    left: 1350px;
    top: 88px;
    border-radius: 144px;
}
.name{
    
position: absolute;
width: 480px;
height: 60px;
left: 174px;
top: 290px;
overflow: hidden;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 60px;
text-decoration:wavy;
line-height: 60px;
color: var(--secondary-color);

}
.names{
color: red;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 60px;
text-decoration:wavy;
}
.sname{
position: absolute;
width: 200px;
height: auto;
left: 174px;
top: 370px;
font-family: 'Sans Serif Collection';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 49px;
overflow: hidden;
color: orange;


}
.snamee{
    color:var(--third-color);
    font-style: oblique;
    font-family: 'Sans Serif Collection';
    font-size: 30px;
}
.lin{
    position: absolute;
    width: 58.7px;
    height: 60px;
    left: 413px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
}
.in{
    position: absolute;
    width: 57px;
    height: 60px;
    left: 211px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
 }
    .tw{
    position: absolute;
    width: 64.84px;
    height: 60px;
    left: 306px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
    }
    
    
#first-section{
    position: relative;
    width:auto;
    height: 100vh;
    background:var(--primary-color);
    overflow: hidden;

}
.aname{
    color: var(--primary-color);
}
.timg{
position: absolute;
position: absolute;
width: 500px;
height: 500px;
left: 108px;
border-radius: 50%;
object-fit:cover;
top: 90px;
}
.na{
position:relative;
width: 423px;
height:auto;
left: 910px;
top: 90px;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 40px;

overflow-y: hidden;
color: #4B66C2;
}
.subtext{
position:relative;
width: 300px;
height:auto;
left: 650px;
top: 150px;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 40px;
color:var(--secondary-color);

}
#second-section{
    position: relative;
    width: 1024%;
    height: 100vh;
    background :var(--primary-color);
    
}
.edu{
    position: absolute;
    width: 231px;
    height: 67px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    text-overflow: clip;
    font-style:unset;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    left: 650px;

}

#third-section{
    position: relative;
    width: 1024%;
    height: 100vh;
    background: var(--primary-color);
    

}
.pro{
    position: absolute;
    width: 231px;
    height: 67px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    left: 650px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

#fourth-section{
    position: relative;
    width: 1024%;
    height: 535px;
    
    background:var(--primary-color);
    }
    .section-hea{
        position: absolute;
        width: 190px;
        height: auto;
        left: 105px;
        top: 88px;
        
        font-family: 'Segoe Fluent Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        
        color:var(--secondary-color);
    }
    .gimg{
        position: absolute;
    width: 44px;
    height: auto;
    left: 93px;
    top: 167px;
    
    background: url(image.png);
    }
.li{
    position: absolute;
    width: 45px;
    height: 46px;
    background: url(image.png);
    left: 93px;
    top: 220px;
    }
.mail{
position: absolute;
width: 259px;
height: 35px;
left: 153px;
top: 164px;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;
 color: var(--secondary-color);
}

.l-mail{
 position: absolute;
width: 133px;
height: 29px;
left: 153px;
top: 228px;

font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color:var(--secondary-color);

}
.oth{
    position: absolute;
    width: 139px;
    height: auto;
    left: 823px;
    top: 3090px;
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    
    color:var(--secondary-color);
    
    
}
.other-links{
    position: absolute;
    width: 140px;
    height: auto;
    left: 790px;
    top: 3150px;
}
.other-links li{
    display: inline-flexbox;
    padding: 20px;

}
.other-links li a{
    text-decoration: none;
    color:var(--secondary-color);
}
  
.lill{
position: absolute;
width: 152px;
height: 335px;
left: 1184px;
top: 3100px;
}
.lill li{
    display: inline-flexbox;
    padding: 25px;
    margin: 10 52px;
}
.lill li a{
    text-decoration: none;
    color:var(--secondary-color);
    padding: 5px 0;
    position: relative;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
.reveal.active{
    transform:translateY(0);
    opacity: 1;
}


