
*{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color:var(--primary-color);
    width:1550px;
    overflow-x: hidden;
}
#preload{
    background: #ffffff url(preload.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;

}
:root{
    --primary-color: white;
    --secondary-color: black;
    --third-color: rgb(107, 45, 207);;
    --fouth-color:2px 2px 15px rgba(0,0,0,0.3);
}
.dark-theme{
    --primary-color:black;
    --secondary-color:white;
    --third-color: cyan;
    --fouth-color:2px 2px 15px rgb(255, 255, 255);
}
html{
    scroll-behavior: smooth;
}
.head{
    height: 100vh;
    width: 1440;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slogo{
    position: absolute;
   width:50px;
   height: 50px;
   border-radius:500px; 
   size: 20px;
   top:76px;
   left:145px;
}
.logo{
    position: absolute;
    width: 231px;
    height: 67px;
    left: 200px;
    top: 76px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    text-overflow: clip;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}
.nav-links{
    position: absolute;
    width: 500px;
    height: 25px;
    left: 1000px;
    top: 91px;
    overflow: hidden;

}
.nav-links li{
    display: inline;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color:var(--secondary-color);
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content:'';

    background:#ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;

}
.immg{
    position: absolute;
    width: 404px;
    height: 421px;
    left: 1000px;
    top: 200px;
    background: url(image.png);
    border-radius: 144px;
}
.btn{
    color:rgb(204, 22, 22);
    border-radius: 3px;
    cursor: pointer;
}
#light{
    width: 30px;
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1450px;
    top: 85px;
    border-radius: 200px;
}
.name{
    
position: absolute;
width: 480px;
height: 60px;
left: 174px;
top: 290px;
overflow: hidden;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 60px;
text-decoration:wavy;
line-height: 60px;
color: var(--secondary-color);

}
.names{
color: red;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 60px;
text-decoration:wavy;
}
.sname{
position: absolute;
width: 200px;
height: auto;
left: 174px;
top: 370px;
font-family: 'Sans Serif Collection';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 49px;
overflow: hidden;
color: orange;


}
.snamee{
    color:var(--third-color);
    font-style: oblique;
    font-family: 'Sans Serif Collection';
    font-size: 30px;
}
.lin{
    position: absolute;
    width: 58.7px;
    height: 60px;
    left: 413px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
}
.in{
    position: absolute;
    width: 57px;
    height: 60px;
    left: 211px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
 }
    .tw{
    position: absolute;
    width: 64.84px;
    height: 60px;
    left: 306px;
    top: 500px;
    
    background: url(image.png);
    border-radius: 122px;
    }
    
    
#first-section{
    position: relative;
    width:auto;
    height: 100vh;
    background:var(--primary-color);
    overflow: hidden;

}
.aname{
    color: var(--primary-color);
}
.timg{
position: absolute;
width: 500px;
height: 500px;
left: 108px;
border-radius: 50%;
object-fit:cover;
top: 90px;
}
.na{
position:absolute;
width: 423px;
height:auto;
left:20px;
top:5px;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 40px;
overflow-y: hidden;
color: #4B66C2;
}
.subpad{
    position:absolute;
    top:100px;
    left:650px;
    height:490px;
    width:800px;
    border-radius: 20px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
    overflow: hidden;
}
.abttxt{
    font-size:27px;
    font-family:'Baufra';
    font-style: italic;
    color:  #4B66C2;
}
.subtext{
position:relative;
width: auto;
height:700px;
left: 20px;
top: 60px;
font-family: 'penna';
font-style: normal;
font-weight: 400;
font-size: 25px;
color:var(--secondary-color);
overflow-x: hidden;
line-height:35px;

}
#second-section{
    position: relative;
    width: 1024%;
    height: 100vh;
    background :var(--primary-color);
    
}
.edu{
    position: absolute;
    width: 231px;
    height: 67px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    text-overflow: clip;
    font-style:unset;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    left: 650px;

}

.phead{
    position: absolute;
    width: auto;
    height: auto;
    left: 125px;
    top: 192px;
    font-style:oblique;
    font-family: 'Segoe Fluent Icons';
    font-style: normal;
    
    color:var(--secondary-color);
     
}
.frame{
    position: absolute;
    width: auto;
    height: auto;
    left: 1100px;
    top: 192px;
    font-style:oblique;
    font-family: 'Segoe Fluent Icons';
    font-style: normal;
    
    color:var(--secondary-color);
     
}
.prog{
    width:400px;
    height:400px;
    margin-left:50px;
    margin-top: 150px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.pyimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 98px;
    top: 293px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.subtextt{
    position: absolute;
    width: auto;
    height: auto;
    font-family: 'Segoe Fluent Icons';
    font-style: normal;
    left: 95px;
    top: 370px;
    font-style: normal;
    font-size: small;
    color:var(--secondary-color);
    
    
}
.jimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 213px;
    top: 293px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.cimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 355px;
    top: 293px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.jaimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:148px;
    top: 422px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.htimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:300px;
    top: 422px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.fram{
    width:400px;
    height:400px;
    margin-left:1010px;
    margin-top: -400px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.rimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1100px;
    top: 422px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.bimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1300px;
    top: 422px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color); 
}
.shimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1100px;
    top:292px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.csimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1200px;
    top:292px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.jsimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1300px;
    top:292px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color);
}
.dimg{
    position: absolute;
    width: 60px;
    height: 60px;
    left:1200px;
    top: 422px;
    border-radius: 10px;
    border: 1px soid rgba(233, 229, 229, 0.695);
    box-shadow:var(--fouth-color);
    color:var(--primary-color); 
}


#third-section{
    position: relative;
    width: 1024%;
    height: 100vh;
    background: var(--primary-color);
    

}
.pro{
    position: absolute;
    width: 231px;
    height: 67px;
    font-family: 'Segoe Fluent Icons';
    color:var(--secondary-color);
    left: 650px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    overflow: hidden;
}





#fourth-section{
    position: relative;
    width: 1024%;
    height: 535px;
    
    background:var(--primary-color);
    }
    .section-hea{
        position: absolute;
        width: 190px;
        height: auto;
        left: 105px;
        top: 200px;
        font-style:oblique;
        
        font-family: 'Segoe Fluent Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        
        color:var(--secondary-color);
    }
    .gimg{
        position: absolute;
    width: 44px;
    height: auto;
    left: 93px;
    top: 290px;
    
    background: url(image.png);
    }
.li{
    position: absolute;
    width: 45px;
    height: 46px;
    background: url(image.png);
    left: 93px;
    top: 340px;
    }
.mail{
position: absolute;
width: 259px;
height: 35px;
left: 153px;
top: 290px;
font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;
 color: var(--secondary-color);
}

.l-mail{
 position: absolute;
width: 133px;
height: 29px;
left: 153px;
top: 340px;

font-family: 'Segoe Fluent Icons';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color:var(--secondary-color);

}
.oth{
    position: absolute;
    width: 159px;
    height: auto;
    left: 823px;
    top: 200px;
    font-family:'Segoe Fluent Icons';
    font-style:"bold";
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    
    color:var(--secondary-color);
    
    
}
.other-links{
    position: absolute;
    width: 150px;
    height: auto;
    left: 780px;
    top: 235px;
    font-family:'Segoe Fluent Icons';
    font-style: normal;
}
.other-links li{
    display: inline-flexbox;
    padding: 27px;

}
.other-links li a{
    text-decoration: none;
    color:var(--secondary-color);
}
  
.lill{
position: absolute;
width: 152px;
height: 335px;
left: 1250px;
top: 200px;
font-weight: 300;

}
.lill li{
    display: inline-flexbox;
    padding: 29px;
    margin: 10 52px;
}
.lill li a{
    text-decoration: none;
    color:var(--secondary-color);
    padding: 5px 0;
    position: relative;
}

@media screen and (max-width:600px) {
*{
        overflow-x: hidden;
}
 
.slogo{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 500px;
    size: 20px;
    top: 23px;
    left:10px;   
}
.nav-links{
    left:10px;
    font-size:10px;
    display:none;
}
 

.logo{
    left:60px;
    top: 25px;
    font-size:20px;
    
}
#light{
    left:350px;
    top:38px;
    width: 15px;
    height: 15px;
}
.immg {
    position: absolute;
    width: 333px;
    height: 353px;
    left: 34px;
    top: 117px;
    background: url(image.png);
    border-radius: 108px;
}
 
.name {
    position: absolute;
    width: 480px;
    height: 60px;
    left: 70px;
    top: 500px;
    overflow: hidden;
    font-family: 'Segoe Fluent Icons';
    font-style: normal;
    font-size:25px;
    text-decoration: wavy;
    line-height: 60px;
   

}
.names{
    font-size: 40px;
}
.sname{
    top:550px;
    left:140px;
    font-size: medium;
}
.tw{
    left:75px;
    top:595px;
    height: 15px;
    width: 15px;
}
.tw{
    left:145px;
    top:595px;
    height: 15px;
    width: 15px;
}
.in{
    left:195px;
    top:595px;
    height: 15px;
    width: 15px;
}
.lin{
    left:240px;
    top:595px;
    height: 15px;
    width: 15px;
}

.timg{
    display:none;
}
.na{
    left:20px;
    font-size:20px;
    top: 15px;
}
 


.subpad{
    left: 10px;
    top:10px;
    width: 359px;
}
.subtext{
    font-size: 12px;
    left:15px;
    top:40px;
}
.abttxt{
    font-size:15px;
}

 
}





 